body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.2em;
    color: brown;
    background-color: bisque;
}

main {
    background-image: url("https://en.wikipedia.org/wiki/Exhuma#/media/File:Exhuma_film_poster.jpg");
    background-position:left;
}

.navbar {
    display: flex;
    list-style: none;
}

.priority {
    font-weight: bold;
    font-style: italic;
}

.thumbnail {
    width: 100;
    height: 20;
}

.body-text {
    background-image: url(starters/twocolor1.gif);
    background-repeat: repeat-y;
}

.lorem {
    margin-left: 2em;
}

.order {
    list-style: upper-alpha;
    background-image: url(starters/twocolor1.gif);
    background-repeat: repeat-x;
}
